<form [formGroup]="registerForm">
  <div class="col-md-8">
    <tabset>
      <tab heading="Clientes">
        <div class="row g-4">
          <div class="col-md-3">
            <label>Classificação</label>
            <select class="form-select" formControlName="classificacao"
              [ngClass]="{'is-invalid': registerForm.get('classificacao').errors && registerForm.get('classificacao').touched}">
              <option value="0">Inativo</option>
              <option value="1">Ativo</option>
              <option value="2">Preferencial</option>
            </select>
            <div
              *ngIf="registerForm.get('classificacao').hasError('required') && registerForm.get('classificacao').touched"
              class="invalid-feedback">
              A Classificação é obrigatória
            </div>
          </div>
          <div class="col-md-3">
            <label>Tipo</label>
            <select class="form-select" formControlName="tipo"
              [ngClass]="{'is-invalid': registerForm.get('tipo').errors && registerForm.get('tipo').touched}">
              <option value="0">Física</option>
              <option value="1">Jurídica</option>
            </select>
            <div *ngIf="registerForm.get('tipo').hasError('required') && registerForm.get('tipo').touched"
              class="invalid-feedback">
              O Tipo é obrigatório
            </div>
          </div>
          <div class="col-md-6" [hidden]="registerForm.value.tipo == '' || registerForm.value.tipo != 0">
            <label>CPF</label>
            <input type="text" class="form-control" formControlName="cpf" placeholder="Informe o CPF"
            [ngClass]="{'is-invalid': registerForm.get('cpf').errors && registerForm.get('cpf').touched}"
            [mask]="'000.000.000-00'">
            <div *ngIf="registerForm.get('cpf').hasError('minlength') && registerForm.get('cpf').touched"
              class="invalid-feedback">
              O CPF deve ter no mínimo 11 caracteres
            </div>
          </div>
          <div class="col-md-6" [hidden]="registerForm.value.tipo == '' || registerForm.value.tipo != 1">
            <label>CNPJ</label>
            <input type="text" class="form-control" formControlName="cnpj" placeholder="Informe o CNPJ"
              [ngClass]="{'is-invalid': registerForm.get('cep').errors && registerForm.get('cep').touched}"
              [mask]="'00.000.000/0000-00'">
            <div *ngIf="registerForm.get('cnpj').hasError('minlength') && registerForm.get('cnpj').touched"
              class="invalid-feedback">
              O CNPJ deve ter no mínimo 14 caracteres
            </div>
          </div>
          <div class="col-md-12">
            <label>Nome</label>
            <input type="text" class="form-control is-invalid"
              [ngClass]="{'is-invalid': registerForm.get('nome').errors && registerForm.get('nome').touched}"
              formControlName="nome" placeholder="Informe o Nome">
            <div *ngIf="registerForm.get('nome').hasError('required') && registerForm.get('nome').touched"
              class="invalid-feedback">
              O Nome é obrigatório
            </div>
            <div *ngIf="registerForm.get('nome').hasError('maxlength') && registerForm.get('nome').touched"
              class="invalid-feedback">
              O Nome deve ter no máximo 100 caracteres
            </div>
          </div>
          <div class="col-md-12">
            <label>Razão Social</label>
            <input type="text" class="form-control" formControlName="razaoSocial" 
            [ngClass]="{'is-invalid': registerForm.get('razaoSocial').errors && registerForm.get('razaoSocial').touched}"
            placeholder="Informe a Razão Social">
            <div *ngIf="registerForm.get('razaoSocial').hasError('maxlength') && registerForm.get('razaoSocial').touched"
              class="invalid-feedback">
              A Razão Social ter no máximo 100 caracteres
            </div>
          </div>
          <div class="col-md-6">
            <label>CEP</label>
            <input type="text" class="form-control" formControlName="cep" placeholder="Informe o CEP" [mask]="'00-000-000'"
            [ngClass]="{'is-invalid': registerForm.get('cep').errors && registerForm.get('cep').touched}">
            <div *ngIf="registerForm.get('cep').hasError('minlength') && registerForm.get('cep').touched"
              class="invalid-feedback">
              O CEP deve ter no mínimo 8 caracteres
            </div>
          </div>
          <div class="col-md-6">
            <label>Email</label>
            <input type="text" class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
              formControlName="email" placeholder="Informe o E-mail">
            <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched"
              class="invalid-feedback">
              O E-mail é obrigatório
            </div>
            <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched"
              class="invalid-feedback">
              Informe um e-mail válido
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Telefones">
        <div>
          <button class="btn btn-outline-success" (click)="adicionarTelefone();">
            Adicionar Telefone
          </button>
          <div class="row g-1">
            <div class="col-md-6" formArrayName="telefones" *ngFor="let telefone of telefones.controls; let i = index">
              <fieldset class="form-group" [formGroupName]="i">
                <div class="row g-1 d-flex justify-content-between">
                  <div class="p-2 bd-highlight col-md-6">
                    <label>Número</label>
                    <input type="text" class="form-control" formControlName="numero" placeholder="Informe o número"
                      [ngClass]="{'is-invalid': telefones.get(i+'.numero').errors && telefones.get(i+'.numero').touched}"
                      [mask]="'(00)00000-0000'">
                    <div *ngIf="telefones.get(i+'.numero').hasError('required') && telefones.get(i+'.numero').touched"
                      class="invalid-feedback">
                      Informe um Número
                    </div>
                    <div *ngIf="telefones.get(i+'.numero').hasError('minlength') && telefones.get(i+'.numero').touched"
                      class="invalid-feedback">
                      O Número deve ter no mínimo 11 caracteres
                    </div>
                  </div>
                  <div class="p-2 bd-highlight align-middle col-md-6">
                    <button class="btn btn-sm btn-outline-danger" style="margin-top:14%"
                      (click)="removerTelefone(i);">Remover</button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
    <div class="d-flex justify-content-between">
      <div class="p-2 bd-highlight">
        <button class="btn btn-secondary" [routerLink]="['/clientes']">
          Voltar para Lista
        </button>
      </div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-success ml-auto" [disabled]="!registerForm.valid" (click)="salvarCliente();">
          Salvar Cliente
        </button>
      </div>
    </div>
  </div>
</form>